<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.otg">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text=" 'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery.ui.min.css}" />
	
	<!--
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		-->
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Spring Boot</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/listar}">Clientes</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	</header>
	<div class="container">

	</div>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring.png}" alt="Spring Logo" width="50px" height="50px"/>
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring Boot</a> y <a
				href="http://www.thymeleaf.org">Thymeleaf</a>.
		</p>
		<p>
			Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins (STS Spring Tool), IDGS Jesús Pérez.
			<br> &copy; Enero 2024, Inc. Todos los derechos reservados. Términos de uso y privacidad. <br />
		</p>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/jquery.ui.min.css}"></script>
	</footer>
</body>

</html>